<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="com.puppycrawl.tools.checkstyle.Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>
    <property name="fileExtensions" value="java, properties, xml"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck">
        <property name="max" value="100"/>
        <property name="ignorePattern" value="^package.*|^import.*|a href=.*|href=.*|http://.*|https://.*|ftp://.*"/>
    </module>
    <module name="com.puppycrawl.tools.checkstyle.TreeWalker">
        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.InvalidJavadocPositionCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocMethodCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocTypeCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocVariableCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.MissingJavadocMethodCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.PackageNameCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.ParameterNameCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.StaticVariableNameCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.TypeNameCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStarImportCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.IllegalImportCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.RedundantImportCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.UnusedImportsCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.EmptyForIteratorPadCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.GenericWhitespaceCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.MethodParamPadCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.NoWhitespaceAfterCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.NoWhitespaceBeforeCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.ParenPadCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.TypecastParenPadCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAfterCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.modifier.ModifierOrderCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.AvoidNestedBlocksCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.EmptyBlockCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.LeftCurlyCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.NeedBracesCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.RightCurlyCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.EmptyStatementCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.EqualsHashCodeCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.IllegalInstantiationCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.MissingSwitchDefaultCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.SimplifyBooleanExpressionCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.SimplifyBooleanReturnCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.FinalClassCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.HideUtilityClassConstructorCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.InterfaceIsTypeCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
            <property name="format" value="\s+$"/>
            <property name="message" value="Line has trailing spaces."/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.MultipleVariableDeclarationsCheck"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.RequireThisCheck"/>
    </module>
</module>